*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.addBorder{
  border: 5px solid purple;
}

:root{
  --background-color: rgb(245, 245, 245);
}

body{
  background-color: var(--background-color);
}