.widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center ;
}
.widget .ant-image {
    display: block;
    width: 100%;
    max-width: 250px;
}
.widget .ant-image-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

    border-radius: 3rem;
    box-shadow: 0 5px 10px black;
}
.bubles{
    margin-top: 10px;
    display: flex;
    gap: 5px;   
}
.animalNameText.ant-typography{
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0 0 !important;
}
.buble.ant-btn, .bubleActive.ant-btn{
    height: 50px;
    width: 50px;
    min-width: 50px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}
.buble.ant-btn{
    transition: transform 0.3s;
}
.buble.ant-btn:hover{
    transform: translateY(-3px);
}
.bubleActive.ant-btn{
    background-color: rgb(43, 218, 43);
    border-color: black;
}
.bubleActive.ant-btn:hover{
    background-color: rgb(34, 190, 34) !important;
    border-color: black !important;
}
