.menu-exemplu{

position: fixed;
}
.custom-menu {
background-color: #e5e5e5 !important;
border-radius: 10px;
width: 270px;

}

.custom-menu.ant-menu-inline-collapsed {
width: 80px !important;

}

.custom-menu {

/* min-height: 1020px; */
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
background-color: transparent !important;
color: black;

}

.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-submenu-title:hover {
background-color: rgba(0, 0, 0, 0.08) !important;

}

.custom-menu .ant-menu-item-selected {
background-color: rgba(0, 0, 0, 0.12) !important;
color: black !important;

}

.custom-menu .ant-menu-sub {
background-color: transparent !important;
}

.menu-button {
position: relative;
left: 5px;
top: 10px;   
background-color: transparent !important;
border-color: #333 !important;
color: #333 !important;

}

.menu-button:hover {
background-color: rgba(0, 0, 0, 0.08) !important;
}
